/* css for section-2 started */
#section-2{
    background-image: linear-gradient(to bottom right, #ff8f00, yellow);
    padding: 20px 50px;
}/* css for section-2 ended */

/* css for up-left-info-box started   */
.up-left-corner-info-box{
    border-radius: 50px;
}/* css for up-left-info-box ended   */

/* css for up-right-info-box started  */
.up-right-corner-info-box{
    border-radius: 50px;
}/* css for up-right-info-box ended  */

/* css for hackathon title started */
.bold-title-hackathon{
    font-weight: bold;
}/* css for hackathon title ended */  